.navbar {
	background-color: rgb(190, 215, 159);
	padding: 2rem;
}

.navbar__links {
	display: flex;
	padding-left: 3rem;
}

li {
	padding-right: 3rem;
}

.navbar__link {
	color: white;
}

.navbar__link:hover {
	color: rgb(114, 132, 92);
}

.position__form {
	padding: 3rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	width: 100%;
	max-width: 480px;
	border: 1px solid grey;
	padding: 2rem;
}

.form__title {
	color: rgb(114, 132, 92);
	font-weight: 550;
	font-size: 1.5rem;
	text-align: center;
}

.form__input {
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
}

.form__input input {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 1rem;
	font-size: 16px;
	background: white;
}

.form__input input:disabled {
	background: #e5e5e5;
}

.form__button {
	background-color: rgb(190, 215, 159);
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	cursor: pointer;
	font-weight: bold;
}

.form__button:hover {
	background-color: rgb(114, 132, 92);
	color: white;
}

.loading {
	width: 20px;
	height: 20px;
	border: 4px solid rgb(114, 132, 92);
	border-bottom-color: transparent;
	border-radius: 100%;
	animation: spin infinite 1s linear;
}

.hidden {
	display: none;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
